---
lightnavy: '#083c44'
darknavy: '#032328'
darkgray: '#191919'
primarylight: '#ceffed'
primarydark: '#00af8c'
---
.fading_line{ 
    display:block;
    border:none;
    color: {{page.primarydark}};
    height:1px;
    background: {{page.primarydark}};
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from({{page.primarylight}}), to(rgba(0, 0, 0, 0)));
}

.window_icons {
  position:relative;
  float:right;
  margin-right: 10px;
}

.circle {
  border-radius: 50%;
  width:15px;
  height:15px;
  margin-top: 5px;
  float:left;
  margin-left: 10px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.terminal_body {
  background-color: #000;
  border-radius: 10px;
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.terminal_top {
  background-color: #555;
  padding: 1px 10px;
  border-radius: 10px 10px 0px 0px;
}
.terminal_bottom {
  padding: 10px;
  color: #93d635;
  background: linear-gradient(#111 10%, #000);
  border-radius: 0px 0px 10px 10px;
}


.browser_body {
  background-color: #3062b2;
  border-radius: 10px;
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.browser_top {
  background-color: #3062b2;
  padding: 1px 10px;
  border-radius: 10px 10px 0px 0px;
}
.browser_toolbar {
  background-color: #aaa;
  padding: 1px 10px;
}
.browser_bottom {
  padding: 5px 10px 0px 10px;
  color: black;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}
.phone_body {
  background: linear-gradient(#fff 10%, #ddd);
  border-radius: 10px;
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  max-width: 250px;
}
.phone_top {
  height: 20px;
}
.phone_speaker {
  height: 50%;
  border-radius: 5px;
  background-color: gray;
  width: 50%;
  margin: 15px auto;
}
.phone_screen {
  background: linear-gradient(#111 10%, #000);
  margin: 10px;
  padding: 10px;
  
}
.phone_home {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: gray;
  margin: 10px auto;
}
.phone_bottom {
  height: 40px;
}