
<div class="row bg-darknavy-2 py-lg-5 py-md-2 py-sm-1">
  <div class="col-xl-3 offset-xl-3 col-md-5 offset-md-1 col-sm-6 col-12">
    <h1 class="text-primarylight viga text-shadowdark text-center">
      I am a programmer.
    </h1>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway" style="padding-top:10px;">
      <small>
        
        <p>
          The journey that started at "hello world" has been an enlightening one!
        </p>
        <p>
          I have written a variety of applications in several different programming languages.
        </p>
        
      </small>
    </h3>
    <div class="row py-lg-2 py-1 text-primarylight viga">
      <h6 class="col-4">C++</h6>
      <h6 class="col-4">Java</h6>
      <h6 class="col-4">C</h6>
      <h6 class="col-4">C#</h6>
      <h6 class="col-4">Ruby</h6>
      <h6 class="col-4">JavaScript</h6>
      <h6 class="col-4">Swift</h6>
      <h6 class="col-4">Python</h6>
    </div>
  </div>
  <div class="col-xl-3 col-md-5 col-sm-6 col-12" style="padding: 0px;">
    <div class="terminal_body raleway" >
      <div class="terminal_top text-white">
        <div>>_ background.exe</div>
      </div>
      <div id="terminal_bottom" class="terminal_bottom">
        $ hello world<br>
        My name is Roger Villanueva.
        I grew up with a deep love of art,
        which I now express through my
        abilities as a programmer. <br>
        I was born and raised in Laredo, Texas,
        and I have a B.S. in Computer
        Science from Texas A&amp;M University
        with a minor in new media art.
      </div>
    </div>
  </div>
</div>



<div class="row py-lg-5 py-md-2 py-sm-1 bg-darkgradient-2">
  
  <div class="col-xl-3 offset-xl-3 col-md-5 offset-md-1 col-sm-6 order-sm-1 offset-sm-0 col-12 order-2" style="padding: 0px;">
    <div class="browser_body raleway">
      <div class="window_icons">
        <div class="circle green"></div>
        <div class="circle yellow"></div>
        <div class="circle red"></div>
      </div>
      <div class="browser_top text-white">
        <div style="height:24px;"></div>
      </div>
      <div class="browser_toolbar ibmplexmono">
        <div style="background-color:white;margin:2px 0px;padding:0px 5px;">
          rogervillanueva.com
        </div>
      </div>
      <div class="browser_bottom">
        <p>As a kid I wanted to be Spider-Man.
        Due to biological and technological impracticalities,
        the closest I could get was to become a web developer, and this is great too!</p>
        <p>
        I am a <strong>full stack web developer</strong>, meaning
        I have experience in designing both how your website <i>looks</i>
        to the user as well as how it <i>functions</i> under the hood and
        interacts with a database.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-5 col-sm-6 order-sm-2 col-12 order-1">
    <h1 class="text-primarylight viga text-shadowdark text-center">
      I make websites.
    </h1>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway" style="padding-top:10px;">
      <small>My technical abilities and love of art come together to help you build a website that looks good on any screen and functions beautifully.</small>
    </h3>
    <h1 class="d-sm-block d-none pt-md-4 text-primarylight viga text-shadowdark text-center">
      &lt;/&#10084;&gt;
    </h1>
  </div>
</div>




<div class="row bg-darknavy-2 py-lg-5 py-md-2 py-sm-1">
  <div class="col-xl-3 offset-xl-3 col-md-5 offset-md-1 col-sm-6 col-12">
    <h1 class="text-primarylight viga text-shadowdark text-center">
      And mobile apps.
    </h1>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway" style="padding-top:10px;">
      <small>
        <p>
          Some people think iPhones are better than Androids.
        </p>
        <p>
          Others think Androids are better than iPhones.
        </p>
        <p>
          Whichever type of phone you like, I can write applications on both!
        </p>
      </small>
    </h3>
    <h1 class="d-sm-block d-none pt-md-4 display-1 text-primarylight viga text-shadowdark text-center">
      &#9743;
    </h1>
  </div>
  <div class="col-xl-3 col-md-5 col-sm-6 col-12" style="padding: 0px;text-align: center;">
    <div class="phone_body raleway" style="display:inline-block;">
      <div class="phone_top">
        <div class="phone_speaker"></div>
      </div>
      <div class="phone_screen text-white" style="text-align:left;">
        Smartphone ownership around the world is skyrocketing - the utility of handheld
        computing has shrank the world and the necessity for mobile developers is trending
        upwards as well.<br>
        I thought the idea of making a little computer do whatever you wanted it to was great,
        so I picked up on Android and iOS app development in college and love it!
      </div>
      <div class="phone_bottom">
        <div class="phone_home"></div>
      </div>
    </div>
  </div>
</div>
<script src="js/about.js"></script>