
<div id="home" class="row bg-darknavy parent-of-centered" style="height:100%;">
  <div id="intro" class="col-12 text-center centered-child">
    <img id="profileImg" class="img-fluid mx-auto d-block" src="../img/roger.png" style="border-radius:50%;">
    <h1 class="text-primarylight viga text-shadowdark pt-2">
      Hi, I'm Roger.
    </h1>
    <h3 class="text-primarydark raleway">
      <small>I like to build websites and mobile apps.</small>
    </h3>
    <div class="py-3">
      <span class="fading_line"></span>
    </div>
     
    <a href="https://www.facebook.com/pastacork" target="_blank" style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_fb.png" style="max-width: 30px; margin:0px 10px;">
    </a>
    <a href="mailto:ralekzvilla@gmail.com"style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_email.png" style="max-width: 30px; margin:0px 10px;">
    </a>
    <a href="https://www.linkedin.com/in/roger-villanueva-22067bb2/" target="_blank"  style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_linkedin.png" style="max-width: 30px; margin:0px 10px;">
    </a>
    <a href="https://github.com/roger-v" target="_blank"  style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_github.png" style="max-width: 30px; margin:0px 10px;">
    </a>
   
  </div>
  
</div>

<div id="about" class="row bg-darkgradient-2 py-lg-5 py-md-2 py-3">
  <div class="col-xl-3 offset-xl-3 col-md-5 offset-md-1 col-sm-6 col-12">
    <h1 class="text-primarylight viga text-shadowdark text-center">
      I am a programmer.
    </h1>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway" style="padding-top:10px;">
      <small>
        
        <p>
          The journey that started at "hello world" has been an enlightening one!
        </p>
        <p>
          I have written a variety of applications in several different programming languages.
        </p>
        
      </small>
    </h3>
    <div class="row py-lg-2 py-1 text-primarylight viga">
      <h6 class="col-4">C++</h6>
      <h6 class="col-4">Java</h6>
      <h6 class="col-4">C</h6>
      <h6 class="col-4">C#</h6>
      <h6 class="col-4">Ruby</h6>
      <h6 class="col-4">JavaScript</h6>
      <h6 class="col-4">Swift</h6>
      <h6 class="col-4">Python</h6>
    </div>
  </div>
  <div class="col-xl-3 col-md-5 col-sm-6 col-12" style="padding: 0px;">
    <div class="terminal_body raleway" >
      <div class="terminal_top text-white">
        <div>>_ background.exe</div>
      </div>
      <div id="terminal_bottom" class="terminal_bottom">
        $ hello world<br>
        My name is Roger Villanueva.
        I grew up with a deep love of art,
        which I now express through my
        abilities as a programmer. <br>
        I was born and raised in Laredo, Texas,
        and I have a B.S. in Computer
        Science from Texas A&amp;M University
        with a minor in new media art.
      </div>
    </div>
  </div>
</div>

<div class="row bg-darknavy-2 py-lg-5 py-md-2 py-3">
  
  <div class="col-xl-3 offset-xl-3 col-md-5 offset-md-1 col-sm-6 order-sm-1 offset-sm-0 col-12 order-2" style="padding: 0px;">
    <div class="browser_body raleway">
      <div class="window_icons">
        <div class="circle green"></div>
        <div class="circle yellow"></div>
        <div class="circle red"></div>
      </div>
      <div class="browser_top text-white">
        <div style="height:24px;"></div>
      </div>
      <div class="browser_toolbar ibmplexmono">
        <div style="background-color:white;margin:2px 0px;padding:0px 5px;">
          rogervillanueva.com
        </div>
      </div>
      <div class="browser_bottom">
        <p>As a kid I wanted to be Spider-Man.
        Due to biological and technological impracticalities,
        the closest I could get was to become a web developer, and this is great too!</p>
        <p>
        I am a <strong>full stack web developer</strong>, meaning
        I have experience in designing both how your website <i>looks</i>
        to the user as well as how it <i>functions</i> under the hood and
        interacts with a database.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-5 col-sm-6 order-sm-2 col-12 order-1">
    <h1 class="text-primarylight viga text-shadowdark text-center">
      I make websites.
    </h1>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway" style="padding-top:10px;">
      <small>My technical abilities and love of art come together to help you build a website that looks good on any screen and functions beautifully.</small>
    </h3>
    <h1 class="d-sm-block d-none pt-md-4 text-primarylight viga text-shadowdark text-center">
      &lt;/&#10084;&gt;
    </h1>
  </div>
</div>

<div class="row bg-darkgradient-2 py-lg-5 py-md-2 py-3">
  <div class="col-xl-3 offset-xl-3 col-md-5 offset-md-1 col-sm-6 col-12">
    <h1 class="text-primarylight viga text-shadowdark text-center">
      And mobile apps.
    </h1>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway" style="padding-top:10px;">
      <small>
        <p>
          Some people think iPhones are better than Androids.
        </p>
        <p>
          Others think Androids are better than iPhones.
        </p>
        <p>
          Whichever type of phone you like, I can write applications on both!
        </p>
      </small>
    </h3>
    <h1 class="d-sm-block d-none pt-md-4 display-1 text-primarylight viga text-shadowdark text-center">
      &#9743;
    </h1>
  </div>
  <div class="col-xl-3 col-md-5 col-sm-6 col-12" style="padding: 0px;text-align: center;">
    <div class="phone_body raleway" style="display:inline-block;">
      <div class="phone_top">
        <div class="phone_speaker"></div>
      </div>
      <div class="phone_screen text-white" style="text-align:left;">
        Smartphone ownership around the world is skyrocketing - the utility of handheld
        computing has shrank the world and the necessity for mobile developers is trending
        upwards as well.<br>
        I thought the idea of making a little computer do whatever you wanted it to was great,
        so I picked up on Android and iOS app development in college and love it!
      </div>
      <div class="phone_bottom">
        <div class="phone_home"></div>
      </div>
    </div>
  </div>
</div>

<div id="projects" class="row bg-darknavy py-lg-3 py-md-2 py-3">
  <div class="col-12 text-center">
    <h1 class="text-primarylight viga text-shadowdark">
      My Projects
    </h1>
    <div>
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway pt-3">
      <small>Here are a few projects I have worked on. Click on an icon to learn more. </small>
    </h3>
    
  </div>
  <div class="col-lg-6 col-md-8 col-sm-12 mx-auto d-block text-center">
      <div id="projects" class="row">
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_vac" class="projects_img img-fluid shadow" src="img/icon_vintage.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Vintage Logistics Website &amp; Mobile App
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              June 2018 - July 2018
            </p>
            <div class="text-white raleway">
              <p>
                Vintage Logistics is a third-party logistics company based in Laredo, Texas. Vintage uses software from IMEXSOL (an import/export software solutions company)
                to manage information about their customers' shipments. This project consisted of two key tasks. 
              </p>
              <p>Firstly, I redesigned Vintage's website to 
                be more modern, device-responsive, and generally more visually appealing. 
                Secondly, an important problem that they needed to solve was their lack of
                an online shipment tracking system for their customers. Vintage's customers had to call or e-mail to request the status on 
                a certain shipment. I solved this problem by bridging the website with Vintage's database through a newly constructed API that I access from the site's front-end.
              </p>
              <p>Customers can now log on to their website
              and sign in with credentials provided by Vintage in order to track their shipments.</p>
              
              <p>As part of my efforts to help modernize and improve the company's software-based resources,
              I am developing an Android and iOS application for Vintage Logistics.</p>
            </div>
            
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>Swift</li>
                <li>Java</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_townsy" class="projects_img img-fluid shadow" src="img/icon_townsy.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Townsy
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              May 2018 - Present
            </p>
            <p class="text-white raleway">
              Townsy is location-based social media application that seeks to keep people up to date with conversations, events, and trade around them.
            </p>
            <div style="background-color:red;"> 
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>PostgreSQL</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>Android</li>
                <li>iOS</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_vac" class="projects_img img-fluid shadow" src="img/icon_vac.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Veterans Airlift Command Website Redesign
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jan 2018 - May 2018
            </p>
            <p class="text-white raleway">
              The Veterans Airlift Command (VAC) is a nonprofit organization that provides free air 
              transportation to post-9/11 combat-wounded veterans and their families for medical and other 
              compassionate purposes through a national network of volunteer aircraft owners and pilots. 
              This project is an endeavor to improve the online experience delivered by VAC by redesigning the 
              website and adding new functionalities to help VAC provide their services more efficiently.
            </p>
            <p class="text-white raleway">
              Having been a half-semester long project for CSCE 431 at Texas A&amp;M University, the codebase has been handed over to a new 
              group of developers since the end of the course.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>PostgreSQL</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_redcross" class="projects_img img-fluid shadow" src="img/icon_redcross.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Evacuation Shelter and Response Decision Tool
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jan 2018 - May 2018
            </p>
            <p class="text-white raleway">
              The American Red Cross has developed a standard 120-hour timeline of critical decision points in their 
              response to the event of a hurricane. The limit to this timeline is that it is not particularly user-friendly
              - it is stored in an excel file and is not adjustable based on variables known only for that particular disaster. 
              This application seeks to enable American Red Cross managers to view the response timeline in a user-friendly 
              fashion in order to response to the disaster more quickly and efficiently. The app would also allow users to 
              adjust the time it takes for certain steps in the response and it would also send the user notifications regarding 
              the time left to complete certain tasks. This project is be designed to facilitate disaster relief efforts by the American Red Cross.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>iOS</li>
                <li>Android</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_tricking" class="projects_img img-fluid shadow" src="img/icon_tricking.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Pastacork's Guide to Tricking
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Nov 2017 - Present
            </p>
            <p class="text-white raleway">
              Pastacork’s Guide to Tricking is a web application designed for people who wish to learn (or already practice) the sport of Martial Arts Tricking. It attempts to illustrate a hierarchical or graph-like relationship between the countless possible tricks in the sport to guide users from the novice abilities at the roots, to the most advanced abilities as they make their way down the tree.
            </p>
            <p class="text-white raleway">
              Martial arts tricking (or "tricking" for short) is a mixture of gymnastics tumbling and martial arts. If you want to see a video of me tricking, click 
              <a href="https://www.youtube.com/watch?v=LfNPJ4Qem8k" target="_blank">here!</a>
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>PostgreSQL</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>arbor.js</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_sfa" class="projects_img img-fluid shadow" src="img/icon_sfa.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Six Feet Above
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Sept 2017 - Present
            </p>
            <p class="text-white raleway">
              Six Feet Above is an open-world adventure game set in a dark and colorful Day of the Dead-themed environment. The story takes place during a time in which an unknown force has caused the long-extinct members of the human race to become reanimated as skeletal beings. The player assumes the role of the last human to rise from the dead, an amnesiac that attempts to recover the lost memories of his/her past in a broken world whose reconstruction is collectively endeavored by reanimated humans that lived throughout various different historical periods.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Unity3D</li>
                <li>C#</li>
                <li>Blender</li>
                <li>Photoshop</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_polyraster" class="projects_img img-fluid shadow" src="img/icon_polyraster.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Polygon Rasterizer
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Sep 2017 - Sep 2017
            </p>
            <p class="text-white raleway">
              This is a polygon rasterizer than I wrote for Computer Graphics. The input is a .obj file, which is a text file format containing x, y, and z values for vertices with coordinate values between -1.0 and 1.0 (along with other info), and the output is the rendered 3D model. The program performs all the steps in the rendering process: lighting calculations, coordinate system transformations, scan conversions, and color interpolation across polygons for smooth shading.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/rasterizer" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>OpenGL</li>
                <li>C++</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_webcrawler" class="projects_img img-fluid shadow" src="img/icon_webcrawler.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Web Crawler
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Feb 2017 - Feb 2017
            </p>
            <p class="text-white raleway">
              This is a heavily multithreaded web crawler that I had written for my Networks and Distributed Processing class. It goes through a million URLs from a text file, connects to each one, and collects statistics about the pages if 1. requesting /robots.txt from the host prompts an HTTP 4xx response, and 2. connecting to the corresponding URL in the queue prompts an HTTP 2xx response.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/webcrawler" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>C++</li>
                <li>Windows Sockets 2</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_raytracer" class="projects_img img-fluid shadow" src="img/icon_raytracer.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Ray Tracer
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Nov 2016 - Nov 2016
            </p>
            <p class="text-white raleway">
              This is a ray tracer that I wrote for Computer Graphics as well. It draws surfaces given their implicit equations, so they are as smooth as possible no matter how much you might zoom in. The ray tracer works by running a for loop through every pixel, taking a parametric line and intersecting it with all the surfaces in the scene, then filling in the appropriate color based on the shape's properties. The surfaces may be infinite cylinders, spheres, ellipsoids, or infinite planes. The ray tracer also functions recursively in order to calculate reflections between surfaces, as shown on the bottom right image.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/raytracing" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>OpenGL</li>
                <li>C++</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_p2n" class="projects_img img-fluid shadow" src="img/icon_p2n.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Pitch2Note
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Oct 2016 - Oct 2016
            </p>
            <p class="text-white raleway">
              I built this for TAMUHack 2016, a competition where the objective is to build a functioning system within 24 hours. The application listens on a phone's microphone for audible frequencies using TarsosDSP, and proceeds to convert it to a note on a musical staff.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Android</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_5tt" class="projects_img img-fluid shadow" src="img/icon_5tt.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              5-Tac-Toe
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jun 2016 - Jul 2016
            </p>
            <p class="text-white raleway">
              This is an Android application that allows the user to play 5x5 tic tac toe against two types of AI.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/CSCE-315-5TacToe" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Android</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6 py-3">
          <img id="proj_amcs" class="projects_img img-fluid shadow" src="img/icon_amcs.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Texas A&amp;M University Course Search
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jun 2016 - Jun 2016
            </p>
            <p class="text-white raleway">
              This is a Java GUI put together through the use of JavaFX, JDBC (Java Database Connectivity), and a MySQL database. The objective was to use a filter-search method for courses that differed from the current tree-like structure that the university uses for course look-up. Programmed by Roger Villanueva, Levi Uzodike, and Ifrah Tariq.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/TAMUCourseSearch" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Java</li>
                <li>JavaFX</li>
                <li>JDBC</li>
                <li>MySQL</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="project_view_container" class="row bg-darkgray-2 py-lg-3 py-2">
  <div class=" offset-lg-2 col-lg-2 col-md-4 d-md-block d-sm-none d-none">
    <img id="proj_image" class="img-fluid roundedimg mx-auto d-block" src="">
  </div>
  <div class=" col-lg-6 col-md-8 col-sm-12 py-2">
    <div id="project_view"></div>
    <h4 id="backtotop" class="raleway text-white text-center pt-2" style="clear:left;display:none;" >
      <a href="#">Back to top.</a>
    </h4>
  </div>
  
</div>