
<div class="row bg-darknavy" style="padding:10% 0%;">
  <div class="col-12 mx-auto d-block">
    <img class="img-fluid mx-auto d-block" src="../img/roger.png" style="border-radius:50%;">
  </div>
  <div class="col-12 text-center">
    <h1 class="text-primarylight viga text-shadowdark">
      Hi, I'm Roger.
    </h1>
    <h3 class="text-primarydark raleway">
      <small>I like to build websites and mobile apps.</small>
    </h3>
    <div style="padding-top:10px;">
      <span class="fading_line"></span>
    </div>
  </div>
  <div class="col-12 mx-auto d-block text-center" style="padding-top: 20px;">
    <a href="https://www.facebook.com/pastacork" target="_blank" style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_fb.png" style="max-width: 30px; margin:0px 10px;">
    </a>
    <a href="mailto:ralekzvilla@gmail.com"style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_email.png" style="max-width: 30px; margin:0px 10px;">
    </a>
    <a href="https://www.linkedin.com/in/roger-villanueva-22067bb2/" target="_blank"  style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_linkedin.png" style="max-width: 30px; margin:0px 10px;">
    </a>
    <a href="https://github.com/roger-v" target="_blank"  style="text-decoration: none;">
      <img class="img-fluid icon" src="../img/icon_github.png" style="max-width: 30px; margin:0px 10px;">
    </a>
  </div>
</div>

<script src="js/home.js"></script>