<nav class="navbar navbar-expand-lg bg-darkgray navbar-dark sticky-top">
  <a href="index.html" class="navbar-brand">
      <span class="text-primarydark pacifico">
          roger villanueva
      </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCustom">
      <ul class="navbar-nav raleway">
        <li class="nav-item">
          <a class="nav-link">
            home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            about
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Resume 2018.pdf" target="_blank">
            résumé
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            projects
          </a>
        </li>
      </ul>
      <ul class="ml-auto navbar-nav text-center">
          <li class="nav-item">
            <a href="https://www.facebook.com/pastacork" target="_blank" style="text-decoration: none;">
              <img class="img-fluid icon" src="../img/icon_fb.png" style="max-width: 30px; margin:0px 20px;">
            </a>
            <a href="mailto:ralekzvilla@gmail.com"style="text-decoration: none;">
              <img class="img-fluid icon" src="../img/icon_email.png" style="max-width: 30px; margin:0px 20px;">
            </a>
            <a href="https://www.linkedin.com/in/roger-villanueva-22067bb2/" target="_blank"  style="text-decoration: none;">
              <img class="img-fluid icon" src="../img/icon_linkedin.png" style="max-width: 30px; margin:0px 20px;">
            </a>
            <a href="https://github.com/roger-v" target="_blank"  style="text-decoration: none;">
              <img class="img-fluid icon" src="../img/icon_github.png" style="max-width: 30px; margin:0px 10px;">
            </a>
          </li>
      	
      </ul>
  </div>
</nav>