<div class="row bg-darknavy py-lg-3 py-md-2 py-sm-1">
  <div class="col-12 text-center">
    <h1 class="text-primarylight viga text-shadowdark">
      My Projects
    </h1>
    <div>
      <span class="fading_line"></span>
    </div>
    <h3 class="text-primarydark raleway pt-3">
      <small>Here are a few projects I have worked on. Click on an icon to learn more.</small>
    </h3>
    
  </div>
  <div class="col-lg-6 col-md-8 col-sm-12 mx-auto d-block text-center">
      <div id="projects" class="row">
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_vac" class="img-fluid shadow" src="img/icon_vac.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Veterans Airlift Command Website Redesign
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jan 2018 - May 2018
            </p>
            <p class="text-white raleway">
              The Veterans Airlift Command (VAC) is a nonprofit organization that provides free air transportation to post-9/11 combat-wounded veterans and their families for medical and other compassionate purposes through a national network of volunteer aircraft owners and pilots. This project is an endeavor to improve the online experience delivered by VAC by redesigning the website and adding new functionalities to help VAC provide their services more efficiently.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>PostgreSQL</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_redcross" class="img-fluid shadow" src="img/icon_redcross.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Evacuation Shelter and Response Decision Tool
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jan 2018 - May 2018
            </p>
            <p class="text-white raleway">
              The American Red Cross has developed a standard 120-hour timeline of critical decision points in their response to the event of a hurricane. The limit to this timeline is that it is not particularly user-friendly - it is stored in an excel file and is not adjustable based on variables known only for that particular disaster. This application seeks to enable American Red Cross managers to view the response timeline in a user-friendly fashion in order to response to the disaster more quickly and efficiently. The app would also allow users to adjust the time it takes for certain steps in the response and it would also send the user notifications regarding the time left to complete certain tasks. This project will be designed to facilitate disaster relief efforts by the American Red Cross.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>iOS</li>
                <li>Android</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_tricking" class="img-fluid shadow" src="img/icon_tricking.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Pastacork's Guide to Tricking
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Nov 2017 - Present
            </p>
            <p class="text-white raleway">
              Pastacork’s Guide to Tricking is a web application designed for people who wish to learn (or already practice) the sport of Martial Arts Tricking. It attempts to illustrate a hierarchical or graph-like relationship between the countless possible tricks in the sport to guide users from the novice abilities at the roots, to the most advanced abilities as they make their way down the tree.
            </p>
            <p class="text-white raleway">
              Martial arts tricking (or "tricking" for short) is a mixture of gymnastics tumbling and martial arts. If you want to see a video of me tricking, click here!
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>PostgreSQL</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>arbor.js</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_townsy" class="img-fluid shadow" src="img/icon_townsy.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Townsy
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Nov 2017 - Present
            </p>
            <p class="text-white raleway">
              Townsy is location-based social media application that seeks to keep people up to date with conversations, events, and trade around them.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>PostgreSQL</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>Android</li>
                <li>iOS</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_sfa" class="img-fluid shadow" src="img/icon_sfa.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Six Feet Above
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Sept 2017 - Present
            </p>
            <p class="text-white raleway">
              Six Feet Above is an open-world adventure game set in a dark and colorful Day of the Dead-themed environment. The story takes place during a time in which an unknown force has caused the long-extinct members of the human race to become reanimated as skeletal beings. The player assumes the role of the last human to rise from the dead, an amnesiac that attempts to recover the lost memories of his/her past in a broken world whose reconstruction is collectively endeavored by reanimated humans that lived throughout various different historical periods.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Unity3D</li>
                <li>C#</li>
                <li>Blender</li>
                <li>Photoshop</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_polyraster" class="img-fluid shadow" src="img/icon_polyraster.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Polygon Rasterizer
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Sep 2017 - Sep 2017
            </p>
            <p class="text-white raleway">
              This is a polygon rasterizer than I wrote for Computer Graphics. The input is a .obj file, which is a text file format containing x, y, and z values for vertices with coordinate values between -1.0 and 1.0 (along with other info), and the output is the rendered 3D model. The program performs all the steps in the rendering process: lighting calculations, coordinate system transformations, scan conversions, and color interpolation across polygons for smooth shading.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/rasterizer" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>OpenGL</li>
                <li>C++</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_webcrawler" class="img-fluid shadow" src="img/icon_webcrawler.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Web Crawler
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Feb 2017 - Feb 2017
            </p>
            <p class="text-white raleway">
              This is a heavily multithreaded web crawler that I had written for my Networks and Distributed Processing class. It goes through a million URLs from a text file, connects to each one, and collects statistics about the pages if 1. requesting /robots.txt from the host prompts an HTTP 4xx response, and 2. connecting to the corresponding URL in the queue prompts an HTTP 2xx response.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/webcrawler" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>C++</li>
                <li>Windows Sockets 2</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_raytracer" class="img-fluid shadow" src="img/icon_raytracer.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Ray Tracer
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Nov 2016 - Nov 2016
            </p>
            <p class="text-white raleway">
              This is a ray tracer that I wrote for Computer Graphics as well. It draws surfaces given their implicit equations, so they are as smooth as possible no matter how much you might zoom in. The ray tracer works by running a for loop through every pixel, taking a parametric line and intersecting it with all the surfaces in the scene, then filling in the appropriate color based on the shape's properties. The surfaces may be infinite cylinders, spheres, ellipsoids, or infinite planes. The ray tracer also functions recursively in order to calculate reflections between surfaces, as shown on the bottom right image.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/raytracing" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>OpenGL</li>
                <li>C++</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_p2n" class="img-fluid shadow" src="img/icon_p2n.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Pitch2Note
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Oct 2016 - Oct 2016
            </p>
            <p class="text-white raleway">
              I built this for TAMUHack 2016, a competition where the objective is to build a functioning system within 24 hours. The application listens on a phone's microphone for audible frequencies using TarsosDSP, and proceeds to convert it to a note on a musical staff.
            </p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Android</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_5tt" class="img-fluid shadow" src="img/icon_5tt.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              5-Tac-Toe
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jun 2016 - Jul 2016
            </p>
            <p class="text-white raleway">
              This is an Android application that allows the user to play 5x5 tic tac toe against two types of AI.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/CSCE-315-5TacToe" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Android</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 py-3">
          <img id="proj_amcs" class="img-fluid shadow" src="img/icon_amcs.png">
          <div class="desc">
            <h3 class="text-primarylight viga text-shadowdark text-center">
              Texas A&amp;M University Course Search
            </h3>
            <div><span class="fading_line"></span></div>
            <p class="text-primarydark raleway  pt-3">
              Jun 2016 - Jun 2016
            </p>
            <p class="text-white raleway">
              This is a Java GUI put together through the use of JavaFX, JDBC (Java Database Connectivity), and a MySQL database. The objective was to use a filter-search method for courses that differed from the current tree-like structure that the university uses for course look-up. Programmed by Roger Villanueva, Levi Uzodike, and Ifrah Tariq.
            </p>
            <p class="text-white raleway">Repository is located <a href="https://github.com/roger-v/TAMUCourseSearch" target="_blank">here</a>.</p>
            <div style="background-color:red;">
              <ul class="tech_list raleway text-white" style="padding:0;margin:0;">
                <li>Java</li>
                <li>JavaFX</li>
                <li>JDBC</li>
                <li>MySQL</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="project_view_container" class="row bg-darkgray-2 py-lg-3 py-md-2 py-sm-1">
  <div class="offset-lg-2 col-lg-2 col-md-4 d-md-block d-sm-none d-none">
    <img id="proj_image" class="img-fluid roundedimg mx-auto d-block" src="">
  </div>
  <div class="col-lg-6 col-md-8 col-sm-12 py-2">
    <div id="project_view"></div>
    <h4 id="backtotop" class="raleway text-white text-center pt-2" style="clear:left;display:none;" >
      <a href="#">Back to top.</a>
    </h4>
  </div>
  
</div>

<script src="js/projects.js"></script>